@use "../abstract" as *;
@use "../base" as *;

.feedback {
  padding-top: rem(177);

  @include breakpoint(lg) {
    padding-top: rem(100);
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-inline: rem(40);
    overflow: hidden;
  }

  &__btn {
    position: absolute;
    width: rem(25);
    height: rem(25);
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 100;

    &.left {
      left: 0%;
      top: 36%;
    }

    &.right {
      right: 0%;
      top: 36%;
    }

    &-img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: clamp(rem(30), 1.33rem + 2.73vw, rem(54));
    line-height: 118%;
    text-align: center;
    color: $dark;
    padding-bottom: rem(49);
  }

  &__cards {
    overflow: hidden;

    &-slider {
      display: flex;
      gap: rem(24);
      justify-content: space-between;
      transition: 0.3s linear;

      &-item {
        width: min(100%, rem(384));
        flex-shrink: 0;

        @include breakpoint(lg) {
          width: min(100%, rem(200));
        }

        &-link {
          display: flex;
          flex-direction: column;
          gap: rem(16);
          padding: rem(24);
          border-radius: rem(16);
          background: $white;

          &-text {
            font-weight: 400;
            font-size: rem(16);
            line-height: 150%;
            color: $dark;
            white-space: pre-line;
          }

          &-profile {
            display: flex;
            gap: rem(12);

            &-pic {
              display: flex;

              &-img {
                width: rem(48);
                height: rem(48);
                border-radius: 50%;
                object-fit: cover;
              }
            }

            &-desc {
              display: flex;
              flex-direction: column;
              gap: rem(8);

              &-title {
                font-weight: 700;
                font-size: rem(16);
                line-height: 150%;
                color: $dark;
              }

              &-text {
                font-weight: 400;
                font-size: rem(16);
                line-height: 150%;
                color: $dark;

                & span {
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }

  &__companies {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
    padding-top: rem(130);
    gap: rem(40) rem(50);

    @include breakpoint(lg) {
      grid-template-columns: repeat(5, 1fr);
    }

    @include breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    &-item {
      margin: 0 auto;

      &-link {
        display: flex;

        &-img {
          max-width: rem(86);
        }
      }
    }
  }
}
