@use "../base" as *;
@use "../abstract" as *;

.navbar {
  padding: rem(20) 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $clr-7;
  z-index: 999;

  @include breakpoint(lg) {
    padding: rem(10) 0;
  }

  &__wrap {
    padding: 0 rem(32);
    display: flex;
    gap: rem(15);
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    cursor: pointer;
  }

  &__list {
    display: flex;
    gap: rem(48);
    align-items: center;
    position: relative;

    @include breakpoint(lg) {
      display: none;
    }

    &-item {
      position: relative;

      &-link {
        font-weight: 400;
        font-size: rem(16);
        line-height: 150%;
      }

      &:hover::after {
        width: 100%;
        opacity: 1;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: rem(-10);
        width: 100%;
        height: rem(2);
        background: black;
        opacity: 0;
        width: 0;
        transition: 0.3s;
      }
    }
  }

  &__btn {
    font-weight: 400;
    font-size: rem(14);
    line-height: 143%;
    color: $clr-4;
    padding: rem(6) rem(22);
    border-radius: rem(12);
    border: none;
    background: $clr-1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include breakpoint(lg) {
      display: none;
    }

    &:hover {
      color: $clr-1;
    }

    &:hover::after {
      height: 150%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: $clr-3;
      transition: 0.5s;
      z-index: -1;
      border-radius: 0 0 50% 50%;
    }
  }

  &__bars {
    width: rem(50);
    height: rem(30);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;

    @include breakpoint(lg) {
      display: flex;
    }

    &-span {
      width: rem(50);
      height: rem(3);
      background: $clr-1;
      position: relative;
      border-radius: rem(10);

      &::before,
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: inherit;
        position: absolute;
      }

      &::before {
        top: rem(-9);
        left: 0;
      }

      &::after {
        bottom: rem(-9);
        left: 0;
      }
    }
  }
}
