@use "../abstract" as *;
@use "../base" as *;

.remote {
  padding-top: rem(337);

  @include breakpoint(lg) {
    padding-top: rem(150);
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: rem(48);
    align-items: center;
    padding-inline: rem(86);

    @include breakpoint(lg) {
      padding-inline: rem(30);
    }
  }

  &__title {
    font-weight: 700;
    font-size: $fsr-1;
    line-height: 133%;
    text-align: center;
    color: $clr-1;
  }

  &__pic {
    display: flex;
    cursor: pointer;
    position: relative;

    &-img {
      border-radius: rem(14);
      box-shadow: rem(-2) rem(2) rem(15) rem(8) rgba(255, 138, 0, 0.4);
    }

    &-play {
      width: rem(70);
      height: rem(70);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $clr-5;
    }
  }

  &__text {
    width: min(100%, rem(877));
    font-weight: 400;
    font-size: rem(24);
    line-height: 133%;
    text-align: center;
  }

  &__list {
    display: flex;
    gap: rem(16);
    justify-content: center;

    &-item {
      border: rem(1) solid $clr-6;

      &:hover &-link-span {
        letter-spacing: rem(1);
      }

      &-link {
        display: flex;
        gap: rem(10);
        align-items: center;
        padding: rem(12);
        background: $clr-3;
        box-shadow: 0 rem(0) rem(2) 0 rgba(0, 0, 0, 0.1);
        border-radius: rem(9);
        transform: scale(1.01, 1.05);

        @include breakpoint(lg) {
          padding: rem(5);
          gap: rem(5);
        }

        &-img {
          max-width: rem(24);
          max-height: rem(24);
          border-radius: rem(9);
        }

        &-span {
          font-weight: 700;
          font-size: rem(18);
          line-height: 177%;
          text-align: center;
          color: $clr-1;
          transition: 0.3s;
        }
      }
    }
  }
}
