@use "../abstract" as *;
@use "../base" as *;

.start {
  padding: rem(198) 0 rem(160);

  @include breakpoint(lg) {
    padding: rem(150) 0 rem(100);
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: rem(48);
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: $fsr-1;
    line-height: 133%;
    text-align: center;
    color: $clr-1;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(26);

    @include breakpoint(lg) {
      grid-template-columns: 1fr;
    }

    &-connect {
      display: flex;
      flex-direction: column;
      gap: rem(63);
      align-items: center;
      padding: rem(56);
      border-radius: rem(20);
      background: $clr-3;

      @include breakpoint(sm) {
        padding: rem(30) rem(15);
        gap: rem(30);
      }

      &-desc {
        display: flex;
        flex-direction: column;
        gap: rem(8);

        &-title {
          font-weight: 700;
          font-size: $fsr-4;
          line-height: 125%;
          text-align: center;
          color: $clr-1;
        }

        &-text {
          font-weight: 400;
          font-size: $fsr-5;
          line-height: 133%;
          text-align: center;
          color: rgba(18, 16, 12, 0.7);
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: rem(16);

        &-item {
          border-radius: rem(12);
          box-shadow: 0 rem(1) rem(1) 0 rgba(0, 0, 0, 0.1);

          &-link {
            display: flex;
            gap: rem(16);
            align-items: center;
            padding: rem(9) rem(33);
            z-index: 1;
            overflow: hidden;
            position: relative;

            &:hover &-span {
              color: $clr-1;
            }

            &:hover::before {
              width: 100%;
            }

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 100%;
              background: $clr-7;
              transition: 0.5s;
              z-index: -1;
              border-radius: rem(12);
            }

            &-img {
              max-width: rem(28);
              max-height: rem(28);
            }

            &-span {
              font-weight: 700;
              font-size: rem(14);
              line-height: 114%;
              text-align: center;
              color: $clr-3;
            }
          }

          &:first-child {
            background: $clr-13;
          }

          &:nth-child(2) {
            background: $clr-6;
          }

          &:last-child {
            background: $clr-12;
          }
        }
      }

      &-url {
        font-weight: 400;
        font-size: $fsr-5;
        line-height: 133%;
        text-align: center;

        &-span {
          border-radius: rem(12);
          background: $clr-10;
          padding-inline: rem(16);
        }
      }
    }
  }

  &__workspaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(56);
    border-radius: rem(20);
    background: $clr-3;

    @include breakpoint(sm) {
      padding: rem(30) rem(15);
    }

    &-title {
      font-weight: 700;
      font-size: $fsr-4;
      line-height: 125%;
      text-align: center;
      color: $clr-1;
      padding-bottom: rem(8);
    }

    &-text {
      font-weight: 400;
      font-size: $fsr-5;
      line-height: 139%;
      text-align: center;
      padding-bottom: rem(32);
    }

    &-cards {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: rem(12);

      &-item {
        &-link {
          display: flex;
          justify-content: space-between;
          gap: rem(15);
          align-items: center;
          padding: rem(12);
          border-radius: rem(12);
          background: $clr-4;
          transition: 0.3s;

          &:hover {
            background: $clr-11;
          }

          &-desc {
            display: flex;
            gap: rem(16);
            align-items: center;

            @include breakpoint(xsm) {
              flex-direction: column;
              align-items: flex-start;
            }

            &-img {
              max-width: rem(27);
            }

            &-text {
              font-weight: 400;
              font-size: rem(20);
              line-height: 100%;
            }
          }

          &-span {
            font-weight: 400;
            font-size: rem(14);
            line-height: 114%;
            text-align: center;
            color: $clr-3;
            padding: rem(8) rem(12);
            border-radius: rem(12);
            box-shadow: 0 rem(1) rem(1) 0 rgba(0, 0, 0, 0.1);
            background: $clr-1;
          }
        }
      }
    }
  }
}
